.inner {
    padding: 30px;
    max-width: 60rem;
}

.profile-image img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateZ(50px);
    object-fit: cover;
}

.profile-name {
    color: #FFA800;
    font-family: 'Patua One', sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 2.5em;
    line-height: 1.375;
    font-weight: 400;
}

.profile-paragraph {
    color: #00FF38;
}
.col-md-6 {
    display: grid;
    place-items: center;
}
.intro {
    font-size: 20px;
    text-align: justify;
}

.projectHeader {
    font-size: 16px !important;
    font-weight: 400;
    text-align: justify;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-unset {
    cursor: unset !important;
}

.download-icon i {
    color: #FFA800;
}

.download-icon i:hover {
    color: #00FF38;
}

.buttons-group .btn {
    padding: 16px;
    margin: 20px;
    width: 200px;
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    border: solid 1px rgba(255, 255, 255, 0.169);
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons-group .btn:hover {
    border-color: #FFA800;
    color: #FFA800;
}

.cartificates {
    max-width: 75%;
    margin: auto;
}

.carousel-button:hover {
    background-color: #FFA800;
    border-radius: 12px;
}

.highlight {
    color: #FFA800;
}

.skills-btn a {
    background-color: #a5823f !important;
}

.skills-btn a:hover {
    background-color: black !important;
}


.skills-img {
    width: 60px;
    padding-left: 7px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.skills-tab li {
    border: 1px solid #FFA800;
    border-radius: 6px;
    padding: 8px;
    margin: 5px;
}

.skills-tab strong {
    font-size: 20px;
}

.contact span {
    font-family: cursive;
    font-size: 26px;
}

.contact .thank {
    font-family: cursive;
    color: #00FF38;
    font-size: 30px;
    font-style: italic;
}

.contact .linkdin {
    color: #5561ff;
}

.git-url {
    color: #FFA800;
    font-weight: 600;
    text-decoration: none;
}

.git-url:hover {
    color: #00FF38;
    text-decoration: underline;
}

.contact .linkdin:hover {
    color: #00FF38;
}

.contact .email {
    color: #FFA800;
}

.contact .email:hover {
    color: #48d9f3;
}

.contact .github {
    color: #07B1FA;
}

.contact .github:hover {
    color: #d6e73e;
}

.contact .leetcode {
    width: 50px;
}

.project-des {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-des span {
    color: #00FF38;
    /* color: #77ed91; */
    font-size: 16px;
    font-weight: 500;
}

.border-radius-unset {
    border-radius: unset !important;
}

.project-img {
    border-radius: 50%;
    width: 75%;
}

.certificate-img {
    border-radius: 12px;
    width: 100%;
}

.link-icon i{
    color: #FFA800;
    cursor: pointer;
}
.link-icon i:hover {
    color: #00FF38;
}

.custom-chatbot {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 350px;
    height: 430px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .chatbot-container {
    width: 350px;
    height: 500px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  .messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .message {
    margin-bottom: 10px;
  }
  .message.user {
    text-align: right;
  }
  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
  }
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  

@keyframes fadeIn {
    from {
      opacity: 1;
      transform: translateX(40px); /* Changed from translateX to translateY */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Changed from translateX to translateY */
    }
  }
  
  .fade-in {
    opacity: 0;
  }
  
  .in-view {
    opacity: 1;
    animation: fadeIn 1.5s forwards; /* Added animation to in-view class */
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOut 1.5s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateX(0); /* Changed from translateX to translateY */
    }
    to {
      opacity: 1;
      transform: translateX(40px); /* Changed from translateX to translateY */
    }
  }
  
  .container {
    overflow: hidden; /* Ensure contents don't overflow and cause layout issues */
  }
  
  